<div  ng-controller="EventDetailController">
  <div ui-content-for="title">
    <span>Detalles del evento</span>
  </div>

  <div class="scrollable">
    <div class="scrollable-content section">
      <div class="container">
        <div class="row">
          <div class="event-details">
            <div class="image-container">
              <img src="{{event.image}}">
            </div>
            <div class="divider"></div>
            <div class="row">
              <div class="col-md-6">
                <p class="title">Desde:</p>
                <p class="value"><b>{{event.fromHour | date : 'shortTime'}}</b></p>
              </div>
              <div class="col-md-6">
                <p class="title">Hasta:</p>
                <p class="value"><b>{{event.toHour | date : 'shortTime'}}</b></p>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row">
              <div class="col-md-6">
                <p class="title">Politicas de puerta</p>
                <p class="value"><b>{{event.policiesDoor}}</b></p>
              </div>
              <div class="col-md-6">
                <p class="title">Edades admitidas</p>
                <p class="value"><b>{{event.ageRange}}</b></p>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row">
              <div class="col-md-6">
                <p class="title">Gratis hasta las:</p>
                <p class="value"><b>{{event.freemiumHour | date : 'shortTime'}}</b></p>
              </div>
              <div class="col-md-6">
                <p class="title">Descuento después de la hora gratis:</p>
                <p class="value"><b>{{event.descOutHour}}%</b></p>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row vestimenta">
              <div class="col-md-12">
                <p class="title">Vestimenta</p>
                <p class="value"><b>{{event.clothing}}</b></p>
              </div>
            </div>

            <div class="row">
              <button ng-show="!isOntime" ng-click="openScanner()" class="btn btn-default validate-button">Validar</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
