<div class="scrollable" ng-controller="MainController">
  <div class="scrollable-content">

    <div ng-show="isLoaded" class="splash-content">
      <img src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"alt="">
    </div>

    <div class="list-group text-center">

      <div class="mdl-color--blue-grey-50 mdl-cell mdl-cell--12-col mdl-cell--12-col-phone list-group-item list-group-item-home event-list" ng-repeat="event in events | orderBy : 'date' : false" ng-click="goToEventDetails(event)">
        <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone image-container">
          <img src="{{event.image}}" style="max-width: 100%">

          {{event.date | date : 'medium'}} <br>
           {{event.name}} <br>
          <button  class="  mdl-cell mdl-cell--12-col mdl-cell--12-col-phone mdl-button  mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                   type="button"> INGRESAR </button>
         <!-- Gratis Hasta las : {{event.freemiumHour |date : 'shortTime'}} <br>
          {{event.fromHour | date : 'shortTime'}} A {{event.toHour | date : 'shortTime'}} -->
        </div>
        <div class="event-info">
          <div class="left">


          </div>
          <div class="right">
            <p class="from"></p>
            <p class="to"></p>
          </div>
        </div>
      </div>



    </div>


  </div>
</div>
